Repository autowarefoundation/autoware_core, pull requests merged in 2025-03, with the labels that each got.

#235 fix(autoware_interpolation): add missing dependencies
  common/autoware_interpolation/package.xml
Labels: run:build-and-test-differential

#234 fix(autoware_trajectory): fix a bug of align_orientation_with_trajectory_direction
  common/autoware_trajectory/src/pose.cpp
Labels: run:build-and-test-differential

#232 feat(autoware_object_recognition_utils): move to core
  common/autoware_object_recognition_utils/CMakeLists.txt
  common/autoware_object_recognition_utils/README.md
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/conversion.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/geometry.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_recognition_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/transform.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/conversion.cpp
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_geometry.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: run:build-and-test-differential, type:moving

#231 feat(autoware_lanelet2_utility)!: add autoware_lanelet2_utility package
  common/autoware_lanelet2_utility/CMakeLists.txt
  common/autoware_lanelet2_utility/README.md
  common/autoware_lanelet2_utility/include/autoware_lanelet2_utility/kind.hpp
  common/autoware_lanelet2_utility/include/autoware_lanelet2_utility/topology.hpp
  common/autoware_lanelet2_utility/media/api/left_lanelet.drawio.svg
  common/autoware_lanelet2_utility/media/api/left_lanelets.drawio.svg
  common/autoware_lanelet2_utility/media/api/leftmost_lanelet.drawio.svg
  common/autoware_lanelet2_utility/media/api/right_lanelets.drawio.svg
  common/autoware_lanelet2_utility/media/api/right_opposite_lanelet.drawio.svg
  common/autoware_lanelet2_utility/media/api/rightmost_lanelet.drawio.svg
  common/autoware_lanelet2_utility/media/maps/intersection/crossing.png
  common/autoware_lanelet2_utility/media/maps/road_shoulder/highway.png
  common/autoware_lanelet2_utility/media/maps/road_shoulder/pudo.png
  common/autoware_lanelet2_utility/media/nomenclature/adjacent.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/boundary_entry_exit.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/bundle.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/connected.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/driving.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/following.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/merging.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/nomenclature.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/opposite.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/opposite_direction.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/previous.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/same_direction.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/sequence.drawio.svg
  common/autoware_lanelet2_utility/media/nomenclature/sibling.drawio.svg
  common/autoware_lanelet2_utility/package.xml
  common/autoware_lanelet2_utility/sample_map/intersection/crossing.osm
  common/autoware_lanelet2_utility/sample_map/intersection/crossing_inverse.osm
  common/autoware_lanelet2_utility/sample_map/road_shoulder/highway.osm
  common/autoware_lanelet2_utility/sample_map/road_shoulder/pudo.osm
  common/autoware_lanelet2_utility/scripts/lanelet_anonymizer.py
  common/autoware_lanelet2_utility/scripts/lanelet_id_aligner.py
  common/autoware_lanelet2_utility/src/kind.cpp
  common/autoware_lanelet2_utility/src/topology.cpp
  common/autoware_lanelet2_utility/test/kind.cpp
  common/autoware_lanelet2_utility/test/map_loader.hpp
  common/autoware_lanelet2_utility/test/topology.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#233 feat(autoware_trajectory): add trajectory point
  common/autoware_trajectory/examples/example_path_point.cpp
  common/autoware_trajectory/examples/example_point.cpp
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/types.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/src/detail/types.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_trajectory_container_trajectory_point.cpp
Labels: run:build-and-test-differential

#245 fix(autoware_test_utils): set timestamp in building trajectory msg
  testing/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
Labels: run:build-and-test-differential

#243 docs(lanelet2_utility): add drawio open link
  common/autoware_lanelet2_utility/README.md
  mkdocs_macros.py
Labels: run:build-and-test-differential, run:deploy-docs

#248 feat(lanelet2_utils)!: introduce lanelet2_utils by renaming from laneet2_utility
  common/autoware_lanelet2_utils/CMakeLists.txt
  common/autoware_lanelet2_utils/README.md
  common/autoware_lanelet2_utils/include/autoware_lanelet2_utils/kind.hpp
  common/autoware_lanelet2_utils/include/autoware_lanelet2_utils/topology.hpp
  common/autoware_lanelet2_utils/media/api/left_lanelet.drawio.svg
  common/autoware_lanelet2_utils/media/api/left_lanelets.drawio.svg
  common/autoware_lanelet2_utils/media/api/leftmost_lanelet.drawio.svg
  common/autoware_lanelet2_utils/media/api/right_lanelets.drawio.svg
  common/autoware_lanelet2_utils/media/api/right_opposite_lanelet.drawio.svg
  common/autoware_lanelet2_utils/media/api/rightmost_lanelet.drawio.svg
  common/autoware_lanelet2_utils/media/maps/intersection/crossing.png
  common/autoware_lanelet2_utils/media/maps/road_shoulder/highway.png
  common/autoware_lanelet2_utils/media/maps/road_shoulder/pudo.png
  common/autoware_lanelet2_utils/media/nomenclature/adjacent.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/boundary_entry_exit.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/bundle.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/connected.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/driving.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/following.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/merging.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/nomenclature.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/opposite.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/opposite_direction.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/previous.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/same_direction.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/sequence.drawio.svg
  common/autoware_lanelet2_utils/media/nomenclature/sibling.drawio.svg
  common/autoware_lanelet2_utils/package.xml
  common/autoware_lanelet2_utils/sample_map/intersection/crossing.osm
  common/autoware_lanelet2_utils/sample_map/intersection/crossing_inverse.osm
  common/autoware_lanelet2_utils/sample_map/road_shoulder/highway.osm
  common/autoware_lanelet2_utils/sample_map/road_shoulder/pudo.osm
  common/autoware_lanelet2_utils/scripts/lanelet_anonymizer.py
  common/autoware_lanelet2_utils/scripts/lanelet_id_aligner.py
  common/autoware_lanelet2_utils/src/kind.cpp
  common/autoware_lanelet2_utils/src/topology.cpp
  common/autoware_lanelet2_utils/test/kind.cpp
  common/autoware_lanelet2_utils/test/map_loader.hpp
  common/autoware_lanelet2_utils/test/topology.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#241 feat(autoware_planning_factor_interface): move to core
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: run:build-and-test-differential, component:planning, type:moving

#250 fix(path_generator): set current pose appropriately in test
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
Labels: run:build-and-test-differential

#252 feat(path_generator): publish hazard signal
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/node.hpp
Labels: run:build-and-test-differential

#251 docs(lanelet2_utils): fix invalid drawio link and update image
  common/autoware_lanelet2_utils/README.md
  common/autoware_lanelet2_utils/media/api/left_lanelets.drawio.svg
  common/autoware_lanelet2_utils/media/api/right_lanelets.drawio.svg
Labels: run:build-and-test-differential

#227 feat(autoware_path_generator): function to smooth the path
  planning/autoware_path_generator/config/path_generator.param.yaml
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/package.xml
  planning/autoware_path_generator/param/path_generator_parameters.yaml
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
  testing/autoware_planning_test_manager/include/autoware/planning_test_manager/autoware_planning_test_manager.hpp
  testing/autoware_planning_test_manager/package.xml
  testing/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  testing/autoware_test_utils/include/autoware_test_utils/autoware_test_utils.hpp
  testing/autoware_test_utils/package.xml
  testing/autoware_test_utils/src/autoware_test_utils.cpp
Labels: run:build-and-test-differential, component:planning, type:new-feature

#244 feat(lanelet2_utility): add intersection/turn_direction definition
  common/autoware_lanelet2_utils/CMakeLists.txt
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/intersection.hpp
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/test/intersection.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#257 fix: eliminate nonessential directories in test coverage statistics
  codecov.yaml
Labels: run:build-and-test-differential

#255 refactor(autoware_trajectory): use nodiscard for mutables, fix reference to scalar type
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/akima_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/cubic_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_mixin.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/nearest_neighbor_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/stairstep_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/interpolator.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/nearest_neighbor.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/spherical_linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/stairstep.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/src/interpolator/akima_spline.cpp
  common/autoware_trajectory/src/interpolator/cubic_spline.cpp
  common/autoware_trajectory/src/interpolator/linear.cpp
  common/autoware_trajectory/src/interpolator/spherical_linear.cpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
Labels: run:build-and-test-differential

#247 chore(CODEOWNER-manual): set `autoware-core-global-codeowners` if there is no code owner
  .github/CODEOWNERS-manual
Labels: run:build-and-test-differential

#246 ci(build-and-test*.yaml): use `autoware:core-common-devel` image
  .github/actions/build-and-test-differential/action.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
Labels: run:build-and-test-differential

#260 test(autoware_point_types): add tests for missed lines
  common/autoware_point_types/test/test_point_types.cpp
Labels: run:build-and-test-differential

#263 test(autoware_kalman_filter): add tests for missed lines
  common/autoware_kalman_filter/test/test_kalman_filter.cpp
Labels: run:build-and-test-differential

#201 feat: port autoware_route_handler from Autoware Universe
  planning/autoware_route_handler/CMakeLists.txt
  planning/autoware_route_handler/README.md
  planning/autoware_route_handler/images/lane_change_test_route.svg
  planning/autoware_route_handler/images/route_handler_test.svg
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/package.xml
  planning/autoware_route_handler/src/route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/autoware_route_handler/test_route/lane_change_test_route.yaml
  planning/autoware_route_handler/test_route/overlap_test_route.yaml
Labels: run:build-and-test-differential, type:moving

#267 fix(path_generator): fix path bound generation
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#140 feat: add autoware_simple_pure_pursuit package
  control/autoware_simple_pure_pursuit/CMakeLists.txt
  control/autoware_simple_pure_pursuit/README.md
  control/autoware_simple_pure_pursuit/config/simple_pure_pursuit.param.yaml
  control/autoware_simple_pure_pursuit/launch/simple_pure_pursuit.launch.xml
  control/autoware_simple_pure_pursuit/package.xml
  control/autoware_simple_pure_pursuit/schema/simple_pure_pursuit.schema.json
  control/autoware_simple_pure_pursuit/src/simple_pure_pursuit.cpp
  control/autoware_simple_pure_pursuit/src/simple_pure_pursuit.hpp
  control/autoware_simple_pure_pursuit/test/test_simple_pure_pursuit.cpp
Labels: run:build-and-test-differential, run:deploy-docs, type:new-feature

#239 feat: no longer use `build_depends.repos`
  .github/actions/build-and-test-differential/action.yaml
  .github/sync-files.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
  build_depends.repos
Labels: run:build-and-test-differential

#272 feat: adaptation to ROS nodes guidelines about directory structure
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
  testing/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  testing/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
  testing/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
Labels: run:build-and-test-differential

#274 chore(lanelet2_utils): change header directory structure
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/intersection.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/kind.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/topology.hpp
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/src/kind.cpp
  common/autoware_lanelet2_utils/src/topology.cpp
  common/autoware_lanelet2_utils/test/intersection.cpp
  common/autoware_lanelet2_utils/test/kind.cpp
  common/autoware_lanelet2_utils/test/topology.cpp
Labels: run:build-and-test-differential

#254 feat(autoware_trajectory): use move semantics and return expected<T, E> for propagating failure reason
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/akima_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/cubic_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_mixin.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/nearest_neighbor_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/stairstep_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/result.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/spherical_linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/interpolator/akima_spline.cpp
  common/autoware_trajectory/src/interpolator/cubic_spline.cpp
  common/autoware_trajectory/src/interpolator/linear.cpp
  common/autoware_trajectory/src/interpolator/result.cpp
  common/autoware_trajectory/src/interpolator/spherical_linear.cpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_interpolator.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
  common/autoware_trajectory/test/test_trajectory_container_trajectory_point.cpp
Labels: run:build-and-test-differential

#237 test(autoware_qp_interface): add unit tests for initializeProblem
  common/autoware_qp_interface/CMakeLists.txt
  common/autoware_qp_interface/test/test_osqp_interface.cpp
  common/autoware_qp_interface/test/test_proxqp_interface.cpp
  common/autoware_qp_interface/test/test_qp_interface.cpp
Labels: run:build-and-test-differential

#273 test(autoware_planning_test_manager): add tests
  testing/autoware_planning_test_manager/CMakeLists.txt
  testing/autoware_planning_test_manager/test/test_planning_test_manager.cpp
Labels: run:build-and-test-differential

#275 test(autoware_motion_utils): add tests for missed lines
  common/autoware_motion_utils/test/src/distance/test_distance.cpp
  common/autoware_motion_utils/test/src/marker/test_virtual_wall_marker_creator.cpp
Labels: run:build-and-test-differential

#283 chore(CODEOWNERS-manual): set global code owners for files starting with "."
  .github/CODEOWNERS-manual
Labels: run:build-and-test-differential

#281 feat(osqp_interface): core changes for additional failure logging
  common/autoware_osqp_interface/design/osqp_interface-design.md
  common/autoware_osqp_interface/include/autoware/osqp_interface/csc_matrix_conv.hpp
  common/autoware_osqp_interface/include/autoware/osqp_interface/osqp_interface.hpp
  common/autoware_osqp_interface/src/osqp_interface.cpp
  common/autoware_osqp_interface/test/test_osqp_interface.cpp
Labels: run:build-and-test-differential

#282 feat(trajectory): improve comment, use autoware_pyplot for examples
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/examples/example_find_intervals.cpp
  common/autoware_trajectory/examples/example_interpolator.cpp
  common/autoware_trajectory/examples/example_path_point.cpp
  common/autoware_trajectory/examples/example_point.cpp
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/examples/example_shift.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/helpers.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/forward.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/detail/util.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/test/test_helpers.cpp
  testing/autoware_pyplot/include/autoware/pyplot/pyplot.hpp
  testing/autoware_pyplot/src/pyplot.cpp
  testing/autoware_test_utils/README.md
Labels: run:build-and-test-differential

#294 chore: bump version to 0.3.0
  common/autoware_component_interface_specs/CHANGELOG.rst
  common/autoware_component_interface_specs/package.xml
  common/autoware_geography_utils/CHANGELOG.rst
  common/autoware_geography_utils/package.xml
  common/autoware_interpolation/CHANGELOG.rst
  common/autoware_interpolation/package.xml
  common/autoware_kalman_filter/CHANGELOG.rst
  common/autoware_kalman_filter/package.xml
  common/autoware_lanelet2_utils/CHANGELOG.rst
  common/autoware_lanelet2_utils/package.xml
  common/autoware_motion_utils/CHANGELOG.rst
  common/autoware_motion_utils/package.xml
  common/autoware_node/CHANGELOG.rst
  common/autoware_node/package.xml
  common/autoware_object_recognition_utils/CHANGELOG.rst
  common/autoware_object_recognition_utils/package.xml
  common/autoware_osqp_interface/CHANGELOG.rst
  common/autoware_osqp_interface/package.xml
  common/autoware_point_types/CHANGELOG.rst
  common/autoware_point_types/package.xml
  common/autoware_qp_interface/CHANGELOG.rst
  common/autoware_qp_interface/package.xml
  common/autoware_trajectory/CHANGELOG.rst
  common/autoware_trajectory/package.xml
  common/autoware_vehicle_info_utils/CHANGELOG.rst
  common/autoware_vehicle_info_utils/package.xml
  control/autoware_simple_pure_pursuit/CHANGELOG.rst
  control/autoware_simple_pure_pursuit/package.xml
  demos/autoware_test_node/CHANGELOG.rst
  demos/autoware_test_node/package.xml
  localization/autoware_ekf_localizer/CHANGELOG.rst
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_localization_util/CHANGELOG.rst
  localization/autoware_localization_util/package.xml
  planning/autoware_objects_of_interest_marker_interface/CHANGELOG.rst
  planning/autoware_objects_of_interest_marker_interface/package.xml
  planning/autoware_path_generator/CHANGELOG.rst
  planning/autoware_path_generator/package.xml
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_route_handler/CHANGELOG.rst
  planning/autoware_route_handler/package.xml
  sensing/autoware_gnss_poser/CHANGELOG.rst
  sensing/autoware_gnss_poser/package.xml
  testing/autoware_planning_test_manager/CHANGELOG.rst
  testing/autoware_planning_test_manager/package.xml
  testing/autoware_pyplot/CHANGELOG.rst
  testing/autoware_pyplot/package.xml
  testing/autoware_test_utils/CHANGELOG.rst
  testing/autoware_test_utils/package.xml
  testing/autoware_testing/CHANGELOG.rst
  testing/autoware_testing/package.xml
Labels: run:build-and-test-differential

#285 fix(path_generator): fix path bound generation for overlapped lanes
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#291 fix(planning_factor_interface): set control point data independently
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: run:build-and-test-differential

#303 feat(autoware_signal_processing): port autoware_signal_processing from Autoware Universe
  common/autoware_signal_processing/CMakeLists.txt
  common/autoware_signal_processing/README.md
  common/autoware_signal_processing/documentation/ButterworthFilter.md
  common/autoware_signal_processing/documentation/img.png
  common/autoware_signal_processing/include/autoware/signal_processing/butterworth.hpp
  common/autoware_signal_processing/include/autoware/signal_processing/lowpass_filter.hpp
  common/autoware_signal_processing/include/autoware/signal_processing/lowpass_filter_1d.hpp
  common/autoware_signal_processing/package.xml
  common/autoware_signal_processing/src/butterworth.cpp
  common/autoware_signal_processing/src/lowpass_filter.cpp
  common/autoware_signal_processing/src/lowpass_filter_1d.cpp
  common/autoware_signal_processing/test/include/butterworth_filter_test.hpp
  common/autoware_signal_processing/test/src/butterworth_filter_test.cpp
  common/autoware_signal_processing/test/src/lowpass_filter_1d_test.cpp
  common/autoware_signal_processing/test/src/lowpass_filter_test.cpp
  common/autoware_signal_processing/usage_examples/main_butterworth.cpp
Labels: run:build-and-test-differential

#125 feat: move autoware_map_projection_loader package from Autoware Universe
  map/autoware_map_projection_loader/CMakeLists.txt
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/config/map_projection_loader.param.yaml
  map/autoware_map_projection_loader/docs/map_projector_type.svg
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/load_info_from_lanelet2_map.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/launch/map_projection_loader.launch.xml
  map/autoware_map_projection_loader/package.xml
  map/autoware_map_projection_loader/schema/map_projection_loader.schema.json
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/data/map_projector_info_local.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_local_cartesian_utm.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_mgrs.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_transverse_mercator.yaml
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/test/test_node_load_local_cartesian_utm_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
Labels: run:build-and-test-differential, run:deploy-docs, type:moving

#279 feat(autoware_crop_box_filter): reimplementation in core repo
  sensing/autoware_crop_box_filter/CMakeLists.txt
  sensing/autoware_crop_box_filter/README.md
  sensing/autoware_crop_box_filter/config/crop_box_filter_node.param.yaml
  sensing/autoware_crop_box_filter/include/autoware/crop_box_filter/crop_box_filter_node.hpp
  sensing/autoware_crop_box_filter/launch/crop_box_filter_node.launch.xml
  sensing/autoware_crop_box_filter/package.xml
  sensing/autoware_crop_box_filter/src/crop_box_filter_node.cpp
  sensing/autoware_crop_box_filter/test/test_crop_box_filter_node.cpp
Labels: run:build-and-test-differential, component:sensing

#306 ci(sync-files.yaml): remove codecov.yaml from the list
  .github/sync-files.yaml
  codecov.yaml
Labels: run:build-and-test-differential

#299 feat(autoware_velocity_smoother): port the package from Autoware Universe
  planning/autoware_velocity_smoother/CMakeLists.txt
  planning/autoware_velocity_smoother/README.md
  planning/autoware_velocity_smoother/config/Analytical.param.yaml
  planning/autoware_velocity_smoother/config/JerkFiltered.param.yaml
  planning/autoware_velocity_smoother/config/L2.param.yaml
  planning/autoware_velocity_smoother/config/Linf.param.yaml
  planning/autoware_velocity_smoother/config/default_common.param.yaml
  planning/autoware_velocity_smoother/config/default_velocity_smoother.param.yaml
  planning/autoware_velocity_smoother/config/rqt_multiplot.xml
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/resample.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/trajectory_utils.hpp
  planning/autoware_velocity_smoother/launch/velocity_smoother.launch.xml
  planning/autoware_velocity_smoother/media/motion_velocity_smoother_flow.drawio.svg
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
  planning/autoware_velocity_smoother/test/test_smoother_functions.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
Labels: run:build-and-test-differential

#297 refactor(autoware_test_node): move to `testing` directory
  common/autoware_node/README.md
  testing/autoware_test_node/CHANGELOG.rst
  testing/autoware_test_node/CMakeLists.txt
  testing/autoware_test_node/README.md
  testing/autoware_test_node/launch/autoware_test_node.launch.xml
  testing/autoware_test_node/package.xml
  testing/autoware_test_node/src/include/test_node.hpp
  testing/autoware_test_node/src/test_node.cpp
Labels: run:build-and-test-differential

#318 fix(autoware_path_generator): remove redundant move
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#302 feat(autoware_twist2accel): port autoware_twist2accel from Autoware Universe
  localization/autoware_twist2accel/CMakeLists.txt
  localization/autoware_twist2accel/README.md
  localization/autoware_twist2accel/config/twist2accel.param.yaml
  localization/autoware_twist2accel/launch/twist2accel.launch.xml
  localization/autoware_twist2accel/package.xml
  localization/autoware_twist2accel/schema/twist2accel.schema.json
  localization/autoware_twist2accel/src/twist2accel.cpp
  localization/autoware_twist2accel/src/twist2accel.hpp
Labels: run:build-and-test-differential, component:localization

#271 test(autoware_vehicle_info_utils): add tests for missed lines
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/test/test_vehicle_info_utils.cpp
Labels: run:build-and-test-differential

#317 fix(autoware_vehicle_info_utils): test not linking to ament_index_cpp
  common/autoware_vehicle_info_utils/CMakeLists.txt
Labels: run:build-and-test-differential

#323 test(autoware_path_generator): add turn signal RequiredEndPoint position test
  planning/autoware_path_generator/test/test_turn_signal.cpp
Labels: run:build-and-test-differential

#242 feat: autoware_motion_velocity_planner and autoware_motion_velocity_planner_common to core
  planning/motion_velocity_planner/autoware_motion_velocity_planner/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner/config/motion_velocity_planner.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_planner/docs/MotionVelocityPlanner-InternalInterface.drawio.svg
  planning/motion_velocity_planner/autoware_motion_velocity_planner/docs/set_stop_velocity.drawio.svg
  planning/motion_velocity_planner/autoware_motion_velocity_planner/launch/motion_velocity_planner.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner/schema/motion_velocity_planner.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/planner_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/srv/LoadPlugin.srv
  planning/motion_velocity_planner/autoware_motion_velocity_planner/srv/UnloadPlugin.srv
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/collision_checker.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/polygon_utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/planner_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/polygon_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/test/test_collision_checker.cpp
Labels: run:build-and-test-differential, type:moving

#324 feat(autoware_global_parameter_loader): port autoware_global_parameter_loader from Autoware Universe
  common/autoware_global_parameter_loader/CMakeLists.txt
  common/autoware_global_parameter_loader/Readme.md
  common/autoware_global_parameter_loader/launch/global_params.launch.py
  common/autoware_global_parameter_loader/package.xml
Labels: run:build-and-test-differential

#310 feat(autoware_motion_velocity_obstacle_stop_module): port to core repo
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/collision_point.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/detection_area.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/stop_visualization.png
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/stop_planning_debug_info.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/types.hpp
Labels: run:build-and-test-differential, component:planning, type:moving

#331 feat: port autoware_planning_topic_converter from Autoware Universe to Core
  planning/autoware_planning_topic_converter/CMakeLists.txt
  planning/autoware_planning_topic_converter/README.md
  planning/autoware_planning_topic_converter/include/autoware/planning_topic_converter/converter_base.hpp
  planning/autoware_planning_topic_converter/include/autoware/planning_topic_converter/path_to_trajectory.hpp
  planning/autoware_planning_topic_converter/package.xml
  planning/autoware_planning_topic_converter/src/path_to_trajectory.cpp
Labels: run:build-and-test-differential

#328 fix(autoware_simple_pure_pursuit): make control command output transient local
  control/autoware_simple_pure_pursuit/src/simple_pure_pursuit.cpp
Labels: run:build-and-test-differential

#325 feat(autoware_vehicle_velocity_converter): port from Autoware Universe
  sensing/autoware_vehicle_velocity_converter/CMakeLists.txt
  sensing/autoware_vehicle_velocity_converter/README.md
  sensing/autoware_vehicle_velocity_converter/config/vehicle_velocity_converter.param.yaml
  sensing/autoware_vehicle_velocity_converter/launch/vehicle_velocity_converter.launch.xml
  sensing/autoware_vehicle_velocity_converter/package.xml
  sensing/autoware_vehicle_velocity_converter/schema/vehicle_velocity_converter.json
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.cpp
  sensing/autoware_vehicle_velocity_converter/src/vehicle_velocity_converter.hpp
Labels: run:build-and-test-differential

#329 feat: port simplified version of autoware_mission_planner from Autoware Universe
  planning/autoware_mission_planner/CMakeLists.txt
  planning/autoware_mission_planner/README.md
  planning/autoware_mission_planner/config/mission_planner.param.yaml
  planning/autoware_mission_planner/include/autoware/mission_planner/mission_planner_plugin.hpp
  planning/autoware_mission_planner/launch/goal_pose_visualizer.launch.xml
  planning/autoware_mission_planner/launch/mission_planner.launch.xml
  planning/autoware_mission_planner/media/goal_footprints.svg
  planning/autoware_mission_planner/media/rerouting_safety.svg
  planning/autoware_mission_planner/media/route_sections.svg
  planning/autoware_mission_planner/package.xml
  planning/autoware_mission_planner/plugins/plugin_description.xml
  planning/autoware_mission_planner/schema/mission_planner.schema.json
  planning/autoware_mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.cpp
  planning/autoware_mission_planner/src/goal_pose_visualizer/goal_pose_visualizer.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
  planning/autoware_mission_planner/src/mission_planner/arrival_checker.cpp
  planning/autoware_mission_planner/src/mission_planner/arrival_checker.hpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
  planning/autoware_mission_planner/src/mission_planner/service_utils.cpp
  planning/autoware_mission_planner/src/mission_planner/service_utils.hpp
  planning/autoware_mission_planner/test/test_lanelet2_plugins_default_planner.cpp
  planning/autoware_mission_planner/test/test_utility_functions.cpp
Labels: run:build-and-test-differential

#313 fix(autoware_gnss_poser): depend on geographiclib through its Find module
  sensing/autoware_gnss_poser/CMakeLists.txt
Labels: run:build-and-test-differential, component:localization

#316 fix(autoware_trajectory): fix linking issue with pybind11, and use non-deprecated tf2 headers
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/pose.cpp
Labels: run:build-and-test-differential

#293 fix(autoware_localization_util): add missing test dependencies to autoware_localization_util
  localization/autoware_localization_util/package.xml
Labels: run:build-and-test-differential

#311 feat: re-implementation autoware_ground_filter as alpha quality from universe
  perception/autoware_ground_filter/CMakeLists.txt
  perception/autoware_ground_filter/README.md
  perception/autoware_ground_filter/config/ground_filter.param.yaml
  perception/autoware_ground_filter/config/ground_segmentation.param.yaml
  perception/autoware_ground_filter/docs/ground-filter.md
  perception/autoware_ground_filter/docs/image/ground_filter_parameters.drawio.svg
  perception/autoware_ground_filter/include/autoware/ground_filter/data.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/grid.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/ground_filter.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/node.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/sanity_check.hpp
  perception/autoware_ground_filter/launch/ground_filter.launch.py
  perception/autoware_ground_filter/launch/ground_filter.launch.xml
  perception/autoware_ground_filter/package.xml
  perception/autoware_ground_filter/src/ground_filter.cpp
  perception/autoware_ground_filter/src/node.cpp
  perception/autoware_ground_filter/src/sanity_check.cpp
Labels: run:build-and-test-differential

#314 fix(autoware_object_recognition_utils): add missing include cstdint for std::uint8_t
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
Labels: run:build-and-test-differential

#333 fix(autoware_motion_velocity_obstacle_stop_module): fix plugin export
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/CMakeLists.txt
Labels: run:build-and-test-differential

#304 feat(autoware_core): add autoware_core package with launch files
  autoware_core/CMakeLists.txt
  autoware_core/README.md
  autoware_core/launch/autoware_core.launch.xml
  autoware_core/package.xml
  autoware_core/rviz/autoware_core.rviz
  control/autoware_core_control/CMakeLists.txt
  control/autoware_core_control/README.md
  control/autoware_core_control/config/simple_pure_pursuit.param.yaml
  control/autoware_core_control/launch/autoware_core_control.launch.xml
  control/autoware_core_control/package.xml
  localization/autoware_core_localization/CMakeLists.txt
  localization/autoware_core_localization/README.md
  localization/autoware_core_localization/config/ekf_localizer.param.yaml
  localization/autoware_core_localization/config/stop_filter.param.yaml
  localization/autoware_core_localization/config/twist2accel.param.yaml
  localization/autoware_core_localization/launch/autoware_core_localization.launch.xml
  localization/autoware_core_localization/package.xml
  map/autoware_core_map/CMakeLists.txt
  map/autoware_core_map/README.md
  map/autoware_core_map/config/lanelet2_map_loader.param.yaml
  map/autoware_core_map/config/map_projection_loader.param.yaml
  map/autoware_core_map/launch/autoware_core_map.launch.xml
  map/autoware_core_map/package.xml
  perception/autoware_core_perception/CMakeLists.txt
  perception/autoware_core_perception/README.md
  perception/autoware_core_perception/config/ground_filter.param.yaml
  perception/autoware_core_perception/launch/autoware_core_perception.launch.xml
  perception/autoware_core_perception/package.xml
  planning/autoware_core_planning/CMakeLists.txt
  planning/autoware_core_planning/README.md
  planning/autoware_core_planning/config/autoware_velocity_smoother/Analytical.param.yaml
  planning/autoware_core_planning/config/autoware_velocity_smoother/JerkFiltered.param.yaml
  planning/autoware_core_planning/config/autoware_velocity_smoother/L2.param.yaml
  planning/autoware_core_planning/config/autoware_velocity_smoother/Linf.param.yaml
  planning/autoware_core_planning/config/autoware_velocity_smoother/velocity_smoother.param.yaml
  planning/autoware_core_planning/config/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  planning/autoware_core_planning/config/behavior_velocity_planner/behavior_velocity_planner_common.param.yaml
  planning/autoware_core_planning/config/behavior_velocity_planner/stop_line.param.yaml
  planning/autoware_core_planning/config/common.param.yaml
  planning/autoware_core_planning/config/motion_velocity_planner/motion_velocity_planner.param.yaml
  planning/autoware_core_planning/config/motion_velocity_planner/obstacle_stop.param.yaml
  planning/autoware_core_planning/config/nearest_search.param.yaml
  planning/autoware_core_planning/config/path_generator.param.yaml
  planning/autoware_core_planning/launch/autoware_core_planning.launch.xml
  planning/autoware_core_planning/package.xml
  sensing/autoware_core_sensing/CMakeLists.txt
  sensing/autoware_core_sensing/README.md
  sensing/autoware_core_sensing/launch/autoware_core_sensing.launch.xml
  sensing/autoware_core_sensing/package.xml
  vehicle/autoware_core_vehicle/CMakeLists.txt
  vehicle/autoware_core_vehicle/README.md
  vehicle/autoware_core_vehicle/launch/autoware_core_vehicle.launch.xml
  vehicle/autoware_core_vehicle/package.xml
  vehicle/autoware_core_vehicle/urdf/vehicle.xacro
Labels: run:build-and-test-differential

#287 feat(trajectory): remove default ctor and collect default setting in Builder
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/images/akima_spline.drawio.svg
  common/autoware_trajectory/images/cubic_spline.drawio.svg
  common/autoware_trajectory/images/interpolators.drawio.svg
  common/autoware_trajectory/images/linear.drawio.svg
  common/autoware_trajectory/images/stairstep.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/interpolator.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_interpolator.cpp
  common/autoware_trajectory/test/test_interpolator_failure.cpp
  testing/autoware_pyplot/include/autoware/pyplot/axes.hpp
  testing/autoware_pyplot/src/axes.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#339 fix(autoware_core_planner): fix wrong package name dependency
  planning/autoware_core_planning/package.xml
Labels: run:build-and-test-differential

#335 revert: "revert: "feat: no longer use `build_depends.repos`""
  .github/actions/build-and-test-differential/action.yaml
  .github/sync-files.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-self-hosted.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/check-build-depends.yaml
  build_depends.repos
Labels: run:build-and-test-differential

#341 fix(motion_velocity_obstacle_stop_module): fix debug topic name
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
Labels: run:build-and-test-differential

#343 refactor(autoware_vehicle_info_utils): rewrite using modern C++ without API breakage
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
Labels: run:build-and-test-differential, component:vehicle

#348 refactor(autoware_motion_utils): rewrite using modern C++ without API breakage
  common/autoware_motion_utils/include/autoware/motion_utils/distance/distance.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/marker_helper.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/vehicle/vehicle_state_checker.hpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: run:build-and-test-differential, component:planning

#342 feat(map_loader): add the explanation of handling use_waypoints
  map/autoware_map_loader/README.md
  map/autoware_map_loader/docs/overwrite_lanelets_centerline.drawio.svg
Labels: run:build-and-test-differential
