Repository autowarefoundation/autoware_core, pull requests merged in 2025-02, with the labels that each got.

#182 chore: bump version to 0.2.0
  common/autoware_geography_utils/CHANGELOG.rst
  common/autoware_geography_utils/package.xml
  common/autoware_kalman_filter/CHANGELOG.rst
  common/autoware_kalman_filter/package.xml
  common/autoware_node/CHANGELOG.rst
  common/autoware_node/package.xml
  common/autoware_osqp_interface/CHANGELOG.rst
  common/autoware_osqp_interface/package.xml
  common/autoware_point_types/CHANGELOG.rst
  common/autoware_point_types/package.xml
  common/autoware_qp_interface/CHANGELOG.rst
  common/autoware_qp_interface/package.xml
  demos/autoware_test_node/CHANGELOG.rst
  demos/autoware_test_node/package.xml
  localization/autoware_localization_util/CHANGELOG.rst
  localization/autoware_localization_util/package.xml
Labels: run:build-and-test-differential

#149 feat: port autoware_interpolation from autoware.universe
  build_depends.repos
  common/autoware_interpolation/CMakeLists.txt
  common/autoware_interpolation/README.md
  common/autoware_interpolation/include/autoware/interpolation/interpolation_utils.hpp
  common/autoware_interpolation/include/autoware/interpolation/linear_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spherical_linear_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation_points_2d.hpp
  common/autoware_interpolation/include/autoware/interpolation/zero_order_hold.hpp
  common/autoware_interpolation/package.xml
  common/autoware_interpolation/src/linear_interpolation.cpp
  common/autoware_interpolation/src/spherical_linear_interpolation.cpp
  common/autoware_interpolation/src/spline_interpolation.cpp
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_interpolation.cpp
  common/autoware_interpolation/test/src/test_interpolation_utils.cpp
  common/autoware_interpolation/test/src/test_linear_interpolation.cpp
  common/autoware_interpolation/test/src/test_spherical_linear_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_zero_order_hold.cpp
Labels: run:build-and-test-differential

#184 feat: porting `autoware_motion_utils` from universe to core
  common/autoware_motion_utils/CMakeLists.txt
  common/autoware_motion_utils/README.md
  common/autoware_motion_utils/docs/vehicle/vehicle.md
  common/autoware_motion_utils/include/autoware/motion_utils/constants.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/distance/distance.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/marker_helper.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/conversion.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/interpolation.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/path_shift.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/path_with_lane_id.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/vehicle/vehicle_state_checker.hpp
  common/autoware_motion_utils/media/ego_nearest_search.svg
  common/autoware_motion_utils/media/segment.svg
  common/autoware_motion_utils/package.xml
  common/autoware_motion_utils/src/distance/distance.cpp
  common/autoware_motion_utils/src/marker/marker_helper.cpp
  common/autoware_motion_utils/src/marker/virtual_wall_marker_creator.cpp
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/src/trajectory/conversion.cpp
  common/autoware_motion_utils/src/trajectory/interpolation.cpp
  common/autoware_motion_utils/src/trajectory/path_shift.cpp
  common/autoware_motion_utils/src/trajectory/path_with_lane_id.cpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  common/autoware_motion_utils/src/vehicle/vehicle_state_checker.cpp
  common/autoware_motion_utils/test/src/distance/test_distance.cpp
  common/autoware_motion_utils/test/src/marker/test_virtual_wall_marker_creator.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
  common/autoware_motion_utils/test/src/test_motion_utils.cpp
  common/autoware_motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
  common/autoware_motion_utils/test/src/trajectory/test_interpolation.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_shift.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker_helper.hpp
Labels: run:build-and-test-differential, planning

#187 feat(autoware_node): remove the lifecycle dependency
  common/autoware_node/CMakeLists.txt
  common/autoware_node/README.md
  common/autoware_node/include/autoware/node/node.hpp
  common/autoware_node/package.xml
  common/autoware_node/src/node.cpp
  common/autoware_node/test/test_an_init_shutdown.cpp
  demos/autoware_test_node/README.md
  demos/autoware_test_node/package.xml
  demos/autoware_test_node/src/include/test_node.hpp
Labels: run:build-and-test-differential

#193 feat: move autoware_testing from universe to core
  testing/autoware_testing/CMakeLists.txt
  testing/autoware_testing/autoware_testing-extras.cmake
  testing/autoware_testing/autoware_testing/__init__.py
  testing/autoware_testing/autoware_testing/smoke_test.py
  testing/autoware_testing/cmake/add_smoke_test.cmake
  testing/autoware_testing/design/autoware_testing-design.md
  testing/autoware_testing/package.xml
  testing/autoware_testing/resource/autoware_testing
  testing/autoware_testing/setup.cfg
  testing/autoware_testing/setup.py
Labels: run:build-and-test-differential

#194 feat: update Documentation page for Autoware Core
  .pages
  mkdocs_macros.py
Labels: run:build-and-test-differential, run:deploy-docs

#188 feat: porting `autoware_trajectory` from `autoware.universe` to `autoware.core`
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_find_intervals.cpp
  common/autoware_trajectory/examples/example_interpolator.cpp
  common/autoware_trajectory/examples/example_shift.cpp
  common/autoware_trajectory/examples/example_trajectory_path_point.cpp
  common/autoware_trajectory/examples/example_trajectory_point.cpp
  common/autoware_trajectory/examples/example_trajectory_pose.cpp
  common/autoware_trajectory/include/autoware/trajectory/detail/helpers.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/logging.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/types.hpp
  common/autoware_trajectory/include/autoware/trajectory/forward.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/akima_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/cubic_spline.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_mixin.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/nearest_neighbor_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/stairstep_common_impl.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/interpolator.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/nearest_neighbor.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/spherical_linear.hpp
  common/autoware_trajectory/include/autoware/trajectory/interpolator/stairstep.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crop.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crossed.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/detail/logging.cpp
  common/autoware_trajectory/src/detail/types.cpp
  common/autoware_trajectory/src/detail/util.cpp
  common/autoware_trajectory/src/interpolator/akima_spline.cpp
  common/autoware_trajectory/src/interpolator/cubic_spline.cpp
  common/autoware_trajectory/src/interpolator/linear.cpp
  common/autoware_trajectory/src/interpolator/spherical_linear.cpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/utils/closest.cpp
  common/autoware_trajectory/src/utils/crossed.cpp
  common/autoware_trajectory/src/utils/find_intervals.cpp
  common/autoware_trajectory/src/utils/shift.cpp
  common/autoware_trajectory/test/test_helpers.cpp
  common/autoware_trajectory/test/test_interpolator.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential, planning

#197 feat(point_types): reimplemented the pointcloud preprocesor's memory layout checks
  common/autoware_point_types/include/autoware/point_types/memory.hpp
Labels: run:build-and-test-differential

#124 feat: add autoware_core_component_interface_specs package
  common/autoware_component_interface_specs/CMakeLists.txt
  common/autoware_component_interface_specs/README.md
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/control.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/localization.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/map.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/perception.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/planning.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/utils.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/vehicle.hpp
  common/autoware_component_interface_specs/package.xml
  common/autoware_component_interface_specs/test/gtest_main.cpp
  common/autoware_component_interface_specs/test/test_control.cpp
  common/autoware_component_interface_specs/test/test_localization.cpp
  common/autoware_component_interface_specs/test/test_map.cpp
  common/autoware_component_interface_specs/test/test_perception.cpp
  common/autoware_component_interface_specs/test/test_planning.cpp
  common/autoware_component_interface_specs/test/test_vehicle.cpp
Labels: run:build-and-test-differential

#166 feat(autoware_gnss_poser): porting from universe to core
  sensing/autoware_gnss_poser/CMakeLists.txt
  sensing/autoware_gnss_poser/README.md
  sensing/autoware_gnss_poser/config/gnss_poser.param.yaml
  sensing/autoware_gnss_poser/include/autoware/gnss_poser/gnss_poser_node.hpp
  sensing/autoware_gnss_poser/launch/gnss_poser.launch.xml
  sensing/autoware_gnss_poser/package.xml
  sensing/autoware_gnss_poser/schema/gnss_poser.schema.json
  sensing/autoware_gnss_poser/src/gnss_poser_node.cpp
Labels: run:build-and-test-differential, sensing

#205 feat(autoware_trajectory): add curvature_utils
  common/autoware_trajectory/examples/example_trajectory_point.cpp
  common/autoware_trajectory/include/autoware/trajectory/utils/curvature_utils.hpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential

#207 feat(autoware_trajecotry): add a conversion function from point trajectory to pose trajectory
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/src/pose.cpp
Labels: run:build-and-test-differential

#199 feat: port autoware_pyplot from Autoware Universe to Autoware Core
  testing/autoware_pyplot/CMakeLists.txt
  testing/autoware_pyplot/README.md
  testing/autoware_pyplot/include/autoware/pyplot/axes.hpp
  testing/autoware_pyplot/include/autoware/pyplot/common.hpp
  testing/autoware_pyplot/include/autoware/pyplot/figure.hpp
  testing/autoware_pyplot/include/autoware/pyplot/legend.hpp
  testing/autoware_pyplot/include/autoware/pyplot/loader.hpp
  testing/autoware_pyplot/include/autoware/pyplot/patches.hpp
  testing/autoware_pyplot/include/autoware/pyplot/pyplot.hpp
  testing/autoware_pyplot/include/autoware/pyplot/quiver.hpp
  testing/autoware_pyplot/include/autoware/pyplot/text.hpp
  testing/autoware_pyplot/package.xml
  testing/autoware_pyplot/src/axes.cpp
  testing/autoware_pyplot/src/common.cpp
  testing/autoware_pyplot/src/figure.cpp
  testing/autoware_pyplot/src/legend.cpp
  testing/autoware_pyplot/src/patches.cpp
  testing/autoware_pyplot/src/pyplot.cpp
  testing/autoware_pyplot/src/quiver.cpp
  testing/autoware_pyplot/src/text.cpp
  testing/autoware_pyplot/test/test_pyplot.cpp
Labels: run:build-and-test-differential

#212 ci(update-codeowners-from-packages): add build label
  .github/sync-files.yaml
  .github/workflows/update-codeowners-from-packages.yaml
Labels: run:build-and-test-differential

#183 feat(autoware_vehicle_info_utils): porting from universe to core
  common/autoware_vehicle_info_utils/CMakeLists.txt
  common/autoware_vehicle_info_utils/README.md
  common/autoware_vehicle_info_utils/config/polygon_remover.yaml
  common/autoware_vehicle_info_utils/config/vehicle_info.param.yaml
  common/autoware_vehicle_info_utils/config/vehicle_mirror.param.yaml
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/launch/sample.launch.py
  common/autoware_vehicle_info_utils/launch/vehicle_info.launch.py
  common/autoware_vehicle_info_utils/package.xml
  common/autoware_vehicle_info_utils/scripts/min_turning_radius_calculator.py
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
  common/autoware_vehicle_info_utils/test/test_vehicle_info_utils.cpp
Labels: run:build-and-test-differential

#217 ci(update-codeowners-from-packages): fix auto-label
  .github/sync-files.yaml
  .github/workflows/update-codeowners-from-packages.yaml
Labels: run:build-and-test-differential

#221 chore(autoware_test_utils): fix invalid link
  testing/autoware_test_utils/README.md
Labels: run:build-and-test-differential

#181 feat(autoware_geography_utils): add support for local cartesian projection
  common/autoware_geography_utils/src/lanelet2_projector.cpp
  common/autoware_geography_utils/test/test_lanelet2_projector.cpp
  common/autoware_geography_utils/test/test_projection.cpp
Labels: run:build-and-test-differential

#225 chore(.cppcheck_suppressions): add checkersReport, useStlAlgorithm
  .cppcheck_suppressions
Labels: run:build-and-test-differential

#211 chore(ekf_localizer): increase z_filter_proc_dev for large gradient road
  localization/autoware_ekf_localizer/config/ekf_localizer.param.yaml
Labels: run:build-and-test-differential

#203 feat(autoware_planning_test_manager): porting autoware_planning_test_manager package from autoware.universe
  testing/autoware_planning_test_manager/CMakeLists.txt
  testing/autoware_planning_test_manager/README.md
  testing/autoware_planning_test_manager/include/autoware/planning_test_manager/autoware_planning_test_manager.hpp
  testing/autoware_planning_test_manager/include/autoware/planning_test_manager/autoware_planning_test_manager_utils.hpp
  testing/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  testing/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager_utils.hpp
  testing/autoware_planning_test_manager/package.xml
  testing/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
Labels: run:build-and-test-differential, planning

#216 feat(path_generator): add path cut feature
  .cspell.json
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/package.xml
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#229 docs(autoware_test_utils): fix invalid link
  testing/autoware_test_utils/README.md
Labels: run:build-and-test-differential, run:deploy-docs

#215 test(path_generator): add tests
  planning/autoware_path_generator/CMakeLists.txt
  planning/autoware_path_generator/package.xml
  planning/autoware_path_generator/test/test_lanelet.cpp
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
  planning/autoware_path_generator/test/utils_test.hpp
  planning/autoware_path_generator/test_route/path_data.yaml
  planning/autoware_path_generator/test_route/route_data.yaml
  planning/autoware_path_generator/test_route/straight_test_route.yaml
Labels: run:build-and-test-differential, type:new-feature

#220 feat(path_generator): add turn signal activation feature
  planning/autoware_path_generator/config/path_generator.param.yaml
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/param/path_generator_parameters.yaml
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/node.hpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential, type:new-feature
