Repository autowarefoundation/autoware_core, pull requests merged in 2025-06, with the labels that each got.

#503 feat(behavior_velocity_planner): improve module registraion/deletion log
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: run:build-and-test-differential

#501 feat(obstacle_stop): update parameter explanation
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/docs/stop_on_curve.drawio.svg
Labels: run:build-and-test-differential, run:deploy-docs

#508 feat(autoware_component_interface_specs): add InitializationSpecs
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/localization.hpp
  common/autoware_component_interface_specs/package.xml
  common/autoware_component_interface_specs/test/test_localization.cpp
Labels: run:build-and-test-differential

#490 feat(autoware_ndt_scan_matcher): port the package from Autoware Universe
  THIRD_PARTY_NOTICE
  localization/autoware_ndt_scan_matcher/CMakeLists.txt
  localization/autoware_ndt_scan_matcher/README.md
  localization/autoware_ndt_scan_matcher/config/ndt_scan_matcher.param.yaml
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/hyper_parameters.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/map_update_module.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/LICENSE
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/README.md
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/estimate_covariance.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multi_voxel_grid_covariance_omp.h
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/multigrid_ndt_omp.h
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_omp/ndt_struct.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/autoware_ndt_scan_matcher/include/autoware/ndt_scan_matcher/particle.hpp
  localization/autoware_ndt_scan_matcher/launch/ndt_scan_matcher.launch.xml
  localization/autoware_ndt_scan_matcher/media/bridge_map.jpg
  localization/autoware_ndt_scan_matcher/media/bridge_map_less_feature.jpg
  localization/autoware_ndt_scan_matcher/media/calculation_of_ndt_covariance.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_initial_pose_subscriber_status.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_map_update_status.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_ndt_align_service_status.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_regularization_pose_subscriber_status.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_scan_matching_status.png
  localization/autoware_ndt_scan_matcher/media/diagnostic_trigger_node_service_status.png
  localization/autoware_ndt_scan_matcher/media/differential_area_loading.gif
  localization/autoware_ndt_scan_matcher/media/trajectory_with_regularization.png
  localization/autoware_ndt_scan_matcher/media/trajectory_without_regularization.png
  localization/autoware_ndt_scan_matcher/package.xml
  localization/autoware_ndt_scan_matcher/schema/ndt_scan_matcher.schema.json
  localization/autoware_ndt_scan_matcher/schema/sub/covariance.json
  localization/autoware_ndt_scan_matcher/schema/sub/covariance_covariance_estimation.json
  localization/autoware_ndt_scan_matcher/schema/sub/dynamic_map_loading.json
  localization/autoware_ndt_scan_matcher/schema/sub/frame.json
  localization/autoware_ndt_scan_matcher/schema/sub/initial_pose_estimation.json
  localization/autoware_ndt_scan_matcher/schema/sub/ndt.json
  localization/autoware_ndt_scan_matcher/schema/sub/ndt_regularization.json
  localization/autoware_ndt_scan_matcher/schema/sub/score_estimation.json
  localization/autoware_ndt_scan_matcher/schema/sub/score_estimation_no_ground_points.json
  localization/autoware_ndt_scan_matcher/schema/sub/sensor_points.json
  localization/autoware_ndt_scan_matcher/schema/sub/validation.json
  localization/autoware_ndt_scan_matcher/src/map_update_module.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/estimate_covariance.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multigrid_ndt_omp.cpp
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multigrid_ndt_omp_impl.hpp
  localization/autoware_ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
  localization/autoware_ndt_scan_matcher/src/particle.cpp
  localization/autoware_ndt_scan_matcher/test/stub_initialpose_client.hpp
  localization/autoware_ndt_scan_matcher/test/stub_pcd_loader.hpp
  localization/autoware_ndt_scan_matcher/test/stub_sensor_pcd_publisher.hpp
  localization/autoware_ndt_scan_matcher/test/stub_trigger_node_client.hpp
  localization/autoware_ndt_scan_matcher/test/test_cases/once_initialize_at_out_of_map_then_initialize_correctly.cpp
  localization/autoware_ndt_scan_matcher/test/test_cases/standard_sequence_for_initial_pose_estimation.cpp
  localization/autoware_ndt_scan_matcher/test/test_fixture.hpp
  localization/autoware_ndt_scan_matcher/test/test_ndt_scan_matcher_launch.py
  localization/autoware_ndt_scan_matcher/test/test_util.hpp
Labels: run:build-and-test-differential

#478 test(autoware_vehicle_velocity_converter): add unit tests
  sensing/autoware_vehicle_velocity_converter/CMakeLists.txt
  sensing/autoware_vehicle_velocity_converter/test/test_vehicle_velocity_converter.cpp
Labels: run:build-and-test-differential

#510 fix(autoware_ndt_scan_matcher): update link
  map/autoware_map_loader/README.md
Labels: run:build-and-test-differential

#493 feat(localization): add autoware_pose_initializer and autoware_map_height_fitter to autoware core
  localization/autoware_pose_initializer/CMakeLists.txt
  localization/autoware_pose_initializer/README.md
  localization/autoware_pose_initializer/config/pose_initializer.param.yaml
  localization/autoware_pose_initializer/launch/pose_initializer.launch.xml
  localization/autoware_pose_initializer/media/diagnostic_pose_reliability.png
  localization/autoware_pose_initializer/package.xml
  localization/autoware_pose_initializer/schema/pose_initializer.schema.json
  localization/autoware_pose_initializer/src/copy_vector_to_array.hpp
  localization/autoware_pose_initializer/src/ekf_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/ekf_localization_trigger_module.hpp
  localization/autoware_pose_initializer/src/gnss_module.cpp
  localization/autoware_pose_initializer/src/gnss_module.hpp
  localization/autoware_pose_initializer/src/localization_module.cpp
  localization/autoware_pose_initializer/src/localization_module.hpp
  localization/autoware_pose_initializer/src/ndt_localization_trigger_module.cpp
  localization/autoware_pose_initializer/src/ndt_localization_trigger_module.hpp
  localization/autoware_pose_initializer/src/pose_error_check_module.cpp
  localization/autoware_pose_initializer/src/pose_error_check_module.hpp
  localization/autoware_pose_initializer/src/pose_initializer_core.cpp
  localization/autoware_pose_initializer/src/pose_initializer_core.hpp
  localization/autoware_pose_initializer/src/stop_check_module.cpp
  localization/autoware_pose_initializer/src/stop_check_module.hpp
  localization/autoware_pose_initializer/test/test_copy_vector_to_array.cpp
  map/autoware_map_height_fitter/CMakeLists.txt
  map/autoware_map_height_fitter/README.md
  map/autoware_map_height_fitter/config/map_height_fitter.param.yaml
  map/autoware_map_height_fitter/include/autoware/map_height_fitter/map_height_fitter.hpp
  map/autoware_map_height_fitter/launch/map_height_fitter.launch.xml
  map/autoware_map_height_fitter/package.xml
  map/autoware_map_height_fitter/schema/map_height_fitter.schema.json
  map/autoware_map_height_fitter/src/map_height_fitter.cpp
  map/autoware_map_height_fitter/src/map_height_fitter_node.cpp
Labels: run:build-and-test-differential, component:localization, type:moving

#522 fix(autoware_pose_initializer): fix README.md links
  localization/autoware_pose_initializer/README.md
Labels: run:build-and-test-differential

#525 revert: "fix(build-and-test*.yaml): workaround of ROS signing key migration"
  .github/actions/build-and-test-differential/action.yaml
  .github/workflows/build-and-test-daily.yaml
  .github/workflows/build-and-test.yaml
Labels: run:build-and-test-differential

#513 feat(planning_factor): add console output option
  planning/autoware_core_planning/config/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/schema/behavior_velocity_planner.schema.json
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: run:build-and-test-differential

#515 chore(behavior_velocity_planner): remove unecessary stop_line_extend_length
  planning/autoware_core_planning/config/behavior_velocity_planner/behavior_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#528 feat(autoware_trajectory): add specialized LaneIdsInterpolator for lane ID handling
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/include/autoware/trajectory/interpolator/lane_ids_interpolator.hpp
  common/autoware_trajectory/src/interpolator/lane_ids_interpolator.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/test/test_interpolator.cpp
Labels: run:build-and-test-differential

#529 feat: port autoware_adapi_specs from Autoware Universe
  api/autoware_adapi_specs/CMakeLists.txt
  api/autoware_adapi_specs/README.md
  api/autoware_adapi_specs/include/autoware/adapi_specs/fail_safe.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/interface.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/localization.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/motion.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/operation_mode.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/perception.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/planning.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/routing.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/system.hpp
  api/autoware_adapi_specs/include/autoware/adapi_specs/vehicle.hpp
  api/autoware_adapi_specs/package.xml
Labels: run:build-and-test-differential

#534 fix(mission_planner): fix check if goal footprint is inside route
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/test/test_lanelet2_plugins_default_planner.cpp
Labels: run:build-and-test-differential

#535 fix(behavior_velocity_planner): fix registered module ids log
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
Labels: run:build-and-test-differential

#532 perf(route_handler): improve functions to get nearest route lanelet
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
Labels: run:build-and-test-differential

#530 feat: port autoware_adapi_adaptors from Autoware Universe
  api/autoware_adapi_adaptors/CMakeLists.txt
  api/autoware_adapi_adaptors/README.md
  api/autoware_adapi_adaptors/config/initial_pose.param.yaml
  api/autoware_adapi_adaptors/launch/rviz_adaptors.launch.xml
  api/autoware_adapi_adaptors/package.xml
  api/autoware_adapi_adaptors/schema/adapi_adaptors.schema.json
  api/autoware_adapi_adaptors/src/initial_pose_adaptor.cpp
  api/autoware_adapi_adaptors/src/initial_pose_adaptor.hpp
  api/autoware_adapi_adaptors/src/routing_adaptor.cpp
  api/autoware_adapi_adaptors/src/routing_adaptor.hpp
Labels: run:build-and-test-differential

#547 fix(autoware_pose_initializer, autoware_adapi): fix documentation link
  localization/autoware_pose_initializer/README.md
Labels: run:build-and-test-differential

#544 feat(autoware_component_interface_specs): update planning and system interface
  common/autoware_component_interface_specs/CMakeLists.txt
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/planning.hpp
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/system.hpp
  common/autoware_component_interface_specs/package.xml
  common/autoware_component_interface_specs/test/test_system.cpp
Labels: run:build-and-test-differential

#543 feat: port autoware_default_adapi from Autoware Universe
  api/autoware_default_adapi/CMakeLists.txt
  api/autoware_default_adapi/README.md
  api/autoware_default_adapi/config/default_adapi.param.yaml
  api/autoware_default_adapi/document/images/localization.drawio.svg
  api/autoware_default_adapi/document/images/routing.drawio.svg
  api/autoware_default_adapi/document/interface.md
  api/autoware_default_adapi/document/localization.md
  api/autoware_default_adapi/document/routing.md
  api/autoware_default_adapi/launch/default_adapi.launch.py
  api/autoware_default_adapi/launch/test_default_adapi.launch.xml
  api/autoware_default_adapi/package.xml
  api/autoware_default_adapi/src/interface.cpp
  api/autoware_default_adapi/src/interface.hpp
  api/autoware_default_adapi/src/localization.cpp
  api/autoware_default_adapi/src/localization.hpp
  api/autoware_default_adapi/src/routing.cpp
  api/autoware_default_adapi/src/routing.hpp
  api/autoware_default_adapi/src/utils/localization_conversion.cpp
  api/autoware_default_adapi/src/utils/localization_conversion.hpp
  api/autoware_default_adapi/src/utils/route_conversion.cpp
  api/autoware_default_adapi/src/utils/route_conversion.hpp
  api/autoware_default_adapi/test/main.test.py
  api/autoware_default_adapi/test/node/interface_version.py
Labels: run:build-and-test-differential

#546 feat: use component_interface_specs for mission_planner
  planning/autoware_core_planning/launch/autoware_core_planning.launch.xml
  planning/autoware_mission_planner/launch/mission_planner.launch.xml
  planning/autoware_mission_planner/package.xml
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
Labels: run:build-and-test-differential

#557 fix(path_generator): support 0s turn signal search time
  planning/autoware_path_generator/param/path_generator_parameters.yaml
Labels: run:build-and-test-differential

#517 feat(obstacle_stop_module): add cut in stop feature
  planning/autoware_core_planning/config/motion_velocity_planner/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/test/test_obstacle_stop_module_outside_check.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/test/test_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/test/test_utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/polygon_utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/planner_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/polygon_utils.cpp
Labels: run:build-and-test-differential, run:deploy-docs
