Repository autowarefoundation/autoware_core, pull requests merged in 2025-04, with the labels that each got.

#351 chore: include iostream and link yaml-cpp for Jazzy
  common/autoware_trajectory/examples/example_readme.cpp
  testing/autoware_test_utils/CMakeLists.txt
Labels: run:build-and-test-differential

#347 refactor(autoware_lanelet2_utils): rewrite using modern C++ without API breakage
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/src/kind.cpp
Labels: run:build-and-test-differential, component:planning

#349 feat(autoware_path_generator): use autoware_trajectory for cropping bounds
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#345 refactor(autoware_geography_utils): rewrite using modern C++ without API breakage
  common/autoware_geography_utils/include/autoware/geography_utils/height.hpp
  common/autoware_geography_utils/src/height.cpp
  common/autoware_geography_utils/src/lanelet2_projector.cpp
Labels: run:build-and-test-differential, component:localization

#308 test(autoware_localization_util): add tests
  localization/autoware_localization_util/CMakeLists.txt
  localization/autoware_localization_util/test/test_covariance_ellipse.cpp
  localization/autoware_localization_util/test/test_smart_pose_buffer.cpp
  localization/autoware_localization_util/test/test_tpe.cpp
  localization/autoware_localization_util/test/test_util_func.cpp
Labels: run:build-and-test-differential, component:localization

#292 feat(trajectory): add API description, nomenclature, illustration, rename functions to align with nomenclature
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/images/nomenclature/approximation.drawio.svg
  common/autoware_trajectory/images/nomenclature/curvature.drawio.svg
  common/autoware_trajectory/images/nomenclature/curve.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crossed.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/curvature_utils.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  mkdocs.yaml
  testing/autoware_pyplot/include/autoware/pyplot/axes.hpp
  testing/autoware_pyplot/include/autoware/pyplot/figure.hpp
  testing/autoware_pyplot/src/axes.cpp
  testing/autoware_pyplot/src/figure.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#298 feat(autoware_trajectory): improve performance of get_underlying_base
  common/autoware_trajectory/include/autoware/trajectory/detail/helpers.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/src/utils/closest.cpp
  common/autoware_trajectory/src/utils/shift.cpp
Labels: run:build-and-test-differential

#352 fix(path_generator): avoid shortcuts at overlaps
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/param/path_generator_parameters.yaml
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/node.hpp
  planning/autoware_path_generator/src/utils.cpp
  planning/autoware_path_generator/test/test_lanelet.cpp
Labels: run:build-and-test-differential

#359 docs(path_generator): add description of path cut & turn signal feature
  planning/autoware_path_generator/README.md
  planning/autoware_path_generator/media/path_cut_mutual_intersection.drawio.svg
  planning/autoware_path_generator/media/path_cut_self_intersection.drawio.svg
  planning/autoware_path_generator/media/path_cut_start_edge_intersection.drawio.svg
  planning/autoware_path_generator/media/turn_signal_conflict.drawio.svg
  planning/autoware_path_generator/media/turn_signal_sections.drawio.svg
  planning/autoware_path_generator/schema/path_generator.schema.json
Labels: run:build-and-test-differential

#353 refactor(path_generator): avoid using fixed-size array
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#336 fix(path_generator): deal with unintended input
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#363 docs(autoware_component_interface_specs): fix `README.md`
  common/autoware_component_interface_specs/README.md
Labels: run:build-and-test-differential

#364 feat(component_interface_specs): use template type in get_qos function
  common/autoware_component_interface_specs/README.md
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/utils.hpp
  common/autoware_component_interface_specs/test/test_control.cpp
  common/autoware_component_interface_specs/test/test_localization.cpp
  common/autoware_component_interface_specs/test/test_map.cpp
  common/autoware_component_interface_specs/test/test_perception.cpp
  common/autoware_component_interface_specs/test/test_planning.cpp
  common/autoware_component_interface_specs/test/test_vehicle.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
Labels: run:build-and-test-differential

#355 fix(autoware_path_optimizer): incorrect application of input velocity due to badly mapping output trajectory to input trajectory
  common/autoware_interpolation/README.md
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: run:build-and-test-differential

#365 fix(autoware_trajectory): check vector size check before accessing
  common/autoware_trajectory/src/point.cpp
Labels: run:build-and-test-differential

#268 test(path_generator): add tests for path cut feature
  planning/autoware_path_generator/CMakeLists.txt
  planning/autoware_path_generator/test/test_path_cut.cpp
  planning/autoware_path_generator/test/utils_test.hpp
  testing/autoware_test_utils/README.md
  testing/autoware_test_utils/images/overlap_test_map.png
  testing/autoware_test_utils/test_map/overlap/lanelet2_map.osm
Labels: run:build-and-test-differential

#370 fix(autoware_trajectory): fix base_addition callback to work when Trajectory is moved
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential

#337 feat(trajectory): improve shift function and their documents
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/examples/example_shift.cpp
  common/autoware_trajectory/images/overview/trajectory.drawio.svg
  common/autoware_trajectory/images/utils/align_orientation_with_trajectory_direction.drawio.svg
  common/autoware_trajectory/images/utils/shift/path_shifter.png
  common/autoware_trajectory/images/utils/shift/shift.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_interval.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_left_right.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_num_points.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/utils/shift.cpp
  common/autoware_trajectory/test/tese_shift.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#372 refactor(autoware_lanelet2_utils)!: move everything to namespace experimental
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/intersection.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/kind.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/topology.hpp
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/src/kind.cpp
  common/autoware_lanelet2_utils/src/topology.cpp
  common/autoware_lanelet2_utils/test/intersection.cpp
  common/autoware_lanelet2_utils/test/kind.cpp
  common/autoware_lanelet2_utils/test/topology.cpp
Labels: run:build-and-test-differential

#332 feat(trajectory): add pretty_build() function for Planning/Control component node
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_pretty_build.cpp
  common/autoware_trajectory/images/utils/pretty_trajectory.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/utils/pretty_build.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/utils/pretty_build.cpp
  common/autoware_trajectory/test/test_pretty_build.cpp
  common/autoware_trajectory/test/test_trajectory_container_trajectory_point.cpp
Labels: run:build-and-test-differential, run:deploy-docs

#380 feat(path_generator): move generate_path public
  planning/autoware_path_generator/include/autoware/path_generator/node.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
Labels: run:build-and-test-differential

#384 fix(path_generator): set both lane IDs to point on border of adjacent lanes
  planning/autoware_path_generator/src/node.cpp
Labels: run:build-and-test-differential

#385 refactor(autoware_object_recognition_utils): use `autoware_utils_*` instead of `autoware_utils`
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: run:build-and-test-differential

#382 refactor(interpolation): use `autoware_utils_*` instead of `autoware_utils`
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation_points_2d.hpp
  common/autoware_interpolation/package.xml
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation_points_2d.cpp
Labels: run:build-and-test-differential

#357 feat(route_handler): use a cost metric to select start lane
  planning/autoware_route_handler/src/route_handler.cpp
Labels: run:build-and-test-differential

#346 refactor(autoware_kalman_filter): rewrite using modern C++ without API breakage
  common/autoware_kalman_filter/include/autoware/kalman_filter/kalman_filter.hpp
  common/autoware_kalman_filter/include/autoware/kalman_filter/time_delay_kalman_filter.hpp
  common/autoware_kalman_filter/src/kalman_filter.cpp
  common/autoware_kalman_filter/src/time_delay_kalman_filter.cpp
Labels: run:build-and-test-differential, component:localization, component:vehicle

#368 feat(.devcontainer): introduce development container
  .cspell.json
  .devcontainer/devcontainer.json
Labels: run:build-and-test-differential

#369 feat(autoware_trajectory): add get_contained_lane_ids function
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential

#376 feat(trajectory): define distance threshold and refine restore() without API breakage(in experimental)
  common/autoware_trajectory/README.md
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/threshold.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/threshold.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential

#393 chore(autoware_trajectory): relax the warning condition of boundary check
  common/autoware_trajectory/include/autoware/trajectory/interpolator/detail/interpolator_common_interface.hpp
  common/autoware_trajectory/src/point.cpp
Labels: run:build-and-test-differential

#398 fix(autoware_trajectory): avoid nan in align_orientation_with_trajectory_direction
  common/autoware_trajectory/src/pose.cpp
Labels: run:build-and-test-differential

#391 feat(autoware_trajectory): improve accuracy of boundary by using binary search
  common/autoware_trajectory/examples/example_find_intervals.cpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/src/utils/find_intervals.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Labels: run:build-and-test-differential

#362 fix: autoware_path_generator, missing parameters in config file
  planning/autoware_core_planning/launch/autoware_core_planning.launch.xml
Labels: run:build-and-test-differential

#400 refactor(autoware_qp_interface): rewrite using modern C++ without API breakage
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_csc_matrix_conv.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/osqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/proxqp_interface.hpp
  common/autoware_qp_interface/include/autoware/qp_interface/qp_interface.hpp
  common/autoware_qp_interface/src/proxqp_interface.cpp
  common/autoware_qp_interface/src/qp_interface.cpp
Labels: run:build-and-test-differential

#413 perf(objects_of_interest_interface): skip publishing if no subscription
  planning/autoware_objects_of_interest_marker_interface/src/objects_of_interest_marker_interface.cpp
Labels: run:build-and-test-differential

#420 chore(autoware_trajectory): fix CMake to work with differential build
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/test/test_shift.cpp
Labels: run:build-and-test-differential

#408 ci: add build-and-test-differential above job
  .github/workflows/build-and-test-differential.yaml
  packages_above.repos
Labels: run:build-and-test-differential

#415 fix(autoware_test_utils): fix deprecated autoware_utils header
  testing/autoware_test_utils/include/autoware_test_utils/visualization.hpp
  testing/autoware_test_utils/package.xml
  testing/autoware_test_utils/src/autoware_test_utils.cpp
Labels: run:build-and-test-differential

#417 fix(autoware_ground_filter): fix deprecated autoware_utils header
  perception/autoware_ground_filter/include/autoware/ground_filter/grid.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/ground_filter.hpp
  perception/autoware_ground_filter/include/autoware/ground_filter/node.hpp
  perception/autoware_ground_filter/package.xml
  perception/autoware_ground_filter/src/node.cpp
Labels: run:build-and-test-differential, component:perception

#409 feat(autoware_motion_velocity_planner): point-cloud clustering optimization
  planning/autoware_core_planning/config/motion_velocity_planner/motion_velocity_planner.param.yaml
  planning/autoware_core_planning/config/motion_velocity_planner/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/config/motion_velocity_planner.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_planner/schema/motion_velocity_planner.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/planner_data.cpp
Labels: run:build-and-test-differential

#421 fix(autoware_mission_planner): fix deprecated autoware_utils header
  planning/autoware_mission_planner/package.xml
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
  planning/autoware_mission_planner/src/mission_planner/arrival_checker.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
  planning/autoware_mission_planner/src/mission_planner/service_utils.hpp
  planning/autoware_mission_planner/test/test_lanelet2_plugins_default_planner.cpp
  planning/autoware_mission_planner/test/test_utility_functions.cpp
Labels: run:build-and-test-differential

#416 fix(autoware_simple_pure_pursuit): fix deprecated autoware_utils header
  control/autoware_simple_pure_pursuit/package.xml
  control/autoware_simple_pure_pursuit/src/simple_pure_pursuit.cpp
  control/autoware_simple_pure_pursuit/src/simple_pure_pursuit.hpp
Labels: run:build-and-test-differential

#412 fix(autoware_ekf_localizer): fix deprecated autoware_utils header
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/ekf_localizer.hpp
  localization/autoware_ekf_localizer/package.xml
  localization/autoware_ekf_localizer/src/covariance.cpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/src/ekf_module.cpp
  localization/autoware_ekf_localizer/src/measurement.cpp
Labels: run:build-and-test-differential, component:localization

#383 refactor(motion_utils): use `autoware_utils_*` instead of `autoware_utils`
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/interpolation.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/package.xml
  common/autoware_motion_utils/src/marker/marker_helper.cpp
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/src/trajectory/interpolation.cpp
  common/autoware_motion_utils/src/trajectory/path_with_lane_id.cpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
  common/autoware_motion_utils/test/src/trajectory/benchmark_calcLateralOffset.cpp
  common/autoware_motion_utils/test/src/trajectory/test_interpolation.cpp
  common/autoware_motion_utils/test/src/trajectory/test_path_with_lane_id.cpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
  common/autoware_motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
Labels: run:build-and-test-differential

#399 feat: add dense centerline map
  common/autoware_lanelet2_utils/README.md
  common/autoware_lanelet2_utils/dense_centerline/lanelet2_map.osm
  common/autoware_lanelet2_utils/media/maps/dense_centerline/lanelet2_map.png
Labels: run:build-and-test-differential

#374 fix(autoware_ekf_localizer): modified log output section to use warning_message and throttle
  localization/autoware_ekf_localizer/include/autoware/ekf_localizer/warning_message.hpp
  localization/autoware_ekf_localizer/src/ekf_localizer.cpp
  localization/autoware_ekf_localizer/src/warning_message.cpp
Labels: run:build-and-test-differential, component:localization

#394 feat(autoware_path_generator): add smooth goal connection
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#424 fix(autoware_velocity_smoother): fix deprecated autoware_utils header
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_trajectory_utils.cpp
Labels: run:build-and-test-differential

#431 feat(route_handler, QC): add overload of get_shoulder_lanelet_sequence
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
Labels: run:build-and-test-differential

#432 refactor(path_generator): avoid using non-API functions
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#433 feat(behavior_velocity_planner)!: only wait for the required subscriptions
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/planner_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/planner_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/plugin_wrapper.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/manager.hpp
Labels: run:build-and-test-differential

#367 feat(behavior_velocity_planner): extend stop line to path bound
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/test/test_scene.cpp
Labels: run:build-and-test-differential

#450 feat(route_handler): remove only_route_lanes = false usage
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
Labels: run:build-and-test-differential

#414 test(autoware_gnss_poser): add unit tests
  sensing/autoware_gnss_poser/CMakeLists.txt
  sensing/autoware_gnss_poser/package.xml
  sensing/autoware_gnss_poser/test/test_gnss_poser_node.cpp
Labels: run:build-and-test-differential

#438 fix(velocity_smoother): prevent access when vector is empty
  planning/autoware_velocity_smoother/src/resample.cpp
Labels: run:build-and-test-differential

#455 chore(autoware_trajectory): update includes to maintain backward compatibility
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/src/pose.cpp
Labels: run:build-and-test-differential
