Repository autowarefoundation/autoware_core, pull requests merged in 2025-07, with the labels that each got.

#531 refactor: implement varying lateral acceleration and steering rate threshold in velocity smoother
  planning/autoware_core_planning/config/autoware_velocity_smoother/velocity_smoother.param.yaml
  planning/autoware_velocity_smoother/CMakeLists.txt
  planning/autoware_velocity_smoother/README.md
  planning/autoware_velocity_smoother/config/default_velocity_smoother.param.yaml
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/test/test_smoother_base_functions.cpp
Labels: run:build-and-test-differential

#567 fix(path_generator): fix waypoint interval calculation
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#574 chore: apply pre-commit fix
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/README.md
Labels: run:build-and-test-differential, run:deploy-docs

#569 fix(motion_utils): update motion utils trajectory
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
Labels: run:build-and-test-differential

#564 feat(path_generator): improve goal connection for goal on the side
  planning/autoware_path_generator/config/path_generator.param.yaml
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/param/path_generator_parameters.yaml
  planning/autoware_path_generator/schema/path_generator.schema.json
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/utils.cpp
Labels: run:build-and-test-differential

#576 fix(obstacle_stop_module): fix outside stop feature
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
Labels: run:build-and-test-differential, component:planning

#579 fix(autoware_behavior_velocity_planner_common): stop line extension inside boundary
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test/src/test_util.cpp
Labels: run:build-and-test-differential

#581 fix(workflow): remove always failing job (jazzy)
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: run:build-and-test-differential

#573 feat(stop_filter): add unit tests to stop filter node
  localization/autoware_stop_filter/CMakeLists.txt
  localization/autoware_stop_filter/package.xml
  localization/autoware_stop_filter/src/stop_filter.cpp
  localization/autoware_stop_filter/src/stop_filter.hpp
  localization/autoware_stop_filter/src/stop_filter_node.cpp
  localization/autoware_stop_filter/src/stop_filter_node.hpp
  localization/autoware_stop_filter/test/test_stop_filter.cpp
  localization/autoware_stop_filter/test/test_stop_filter_node.cpp
Labels: run:build-and-test-differential

#587 refactor(motion_velocity_planner): restrict copy of planner_data
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
Labels: run:build-and-test-differential
